<div class="modal-body">
  <h5 class="modal-title" id="imageUploadModalLabel">Change Profile Picture</h5>
  <%= form_for(object, html: { method: :post}) do |f| %>
    <%= render "devise/shared/error_messages", resource: object %>
    <div class="field">
      <%= f.label :Profile_image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>